.message {
    margin: 25px 25px;
    display: flex;
    align-items: center;
}

.messageContainer {
    border-radius: 10px;
}

.username {
    font-weight: 700;
    margin: 6px 0;
}

.left {
    background: #ebebeb;
    align-self: start;
}

.right {
    background: #cfe2ff;
    align-self: end;
}