.root {
    width: 100%;
    font-family: Poppins;
}

.container {
    display: flex;
    position: relative;
    width: 1140px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.searchcontainer {
    top: 420px;
    left: 75px;
    position: absolute;
    border-radius: 15px;
    padding: 20px;
    height: 268px;
    width: 80%;
}

.searchheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.tabselected {
    background-color: #CFE2FF;
    border-radius: 15px 15px 0 0;
    text-align: center;
    height: 30px;
    width: 145px;
    margin-right: 5px;
    font-weight: bold;
    padding-top: 5px;
}

.tabunselected {
    background-color: #D9D9D9;
    border-radius: 15px 15px 0 0;
    text-align: center;
    height: 30px;
    width: 145px;
    margin-right: 5px;
    padding-top: 5px;
}

.searchbody {
    background-color: #CFE2FF;
    border-radius: 0px 15px 15px 15px;
    height: 100px;
}

.location {
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 30px;
    height: 35px;
    width: 440px;
}

.realestatestype {
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    margin-left: 15px;
    height: 35px;
    width: 120px;
    font-family: Poppins;
}

::placeholder {
    font-family: Poppins;
}

.search {
    background-color: #EEEFA7;
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    margin-left: 15px;
    height: 35px;
    width: 130px;
    font-family: Poppins;
    font-style: normal;
}