.header {
    width: 100%;
    margin-top: 20px;
}

.headernav {
    display: flex; 
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: auto;
    width: 1140px;
}

.logocontent {
    padding: 5px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 20%;
    text-decoration: none;
}

.logo {
    width: 62px;
    height: 41px;
    padding-right: 5px;
}

.name {
    color: #000;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navcontent {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    text-decoration: none;
    font-family: Poppins;
}

.nav {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    /* visibility: hidden; */
}

.navlu {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.navli {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonad {
    color: #000;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 320px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #000;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

.li {
    padding: 10px;
    
}

.logincontent {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

.user {
    height: 16px;
    width: 16px;
    padding-right: 5px;
}