.header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headernav {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 1300px;
}

.logocontent {
    padding: 5px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 20%;
    text-decoration: none;
}

.logo {
    width: 200px;
    height: 41px;
    padding-right: 5px;
}

.name {
    color: #000;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navcontent {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    text-decoration: none;
}

.nav {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    /* visibility: hidden; */
}

.navlu {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.navli {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonad {
    color: #000;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 320px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 15px;
    border:none;
    background: #D9D9D9;
    }


.logincontent {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iniciasession{
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user {
    width: 26px;
    padding-right: 18px;
}

.userimg{
    width: 26px;
    padding-left: 30px;
}

.nameuser{
    font-weight: 600;
    margin: 7px;
}

.userlog{
    display:flex;
}

.userlog img{
    cursor: pointer;
}

li:hover {
    color:#4992ff;
    cursor: pointer;
}

/*dropdown*/

.dropdown{
    position: absolute;
    top: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 200px;
    box-shadow: 6px -8px 20px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;

}

.active{
    display: block;
}

.inactive{
    display: none;
}

.dropdown ul{
    display: flex;
    align-content: center;
    padding: 20px;
}