.container_text {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 142px;

}

.justify_center {
    justify-content: center;
}

.gap {
    gap: 88px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.map_image {
    width: 380px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #CFE2FF;
    margin: 10px;
}

.input_area {
    display: flex;
    width: 380px;
    height: 227px;
    border-radius: 19px;
    border: 1px solid #ACACAC;
    background: #FFF;
    margin: 20px;

}

.contact_button {
    border-radius: 15px;
    background: #FEFFC4;
    padding: 10px;
    margin: 10px;
    border: none
}

.carousel_container {
    width: 1082px;
    height: 500px;
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.details_container {
    margin-left: 300px;
}