@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");


.carousel_container {
    width: 1140px;
    height: 510px;
    margin: auto;
    margin-top: 30px;
}

.container{
    display: flex;
    margin-top: 50px;
    width: 1300px;
    min-height: 956px;
    max-height: 986px;
    flex-wrap: wrap;
}

.container1{
    width: 70%;
    height: 400px;
}

.container2{
    width: 30%;
    height: 620px;
}

.title{
    margin-left: 30px;
    margin-right: 30px;
    height: 82px;
}
.title p{
font-size: 20px;
font-weight: 600;
}

.title h1{
    font-size: 35px;
    margin-top:25px;

}

.caracteristicas h2{
    font-size: 30px;
    margin-bottom: 33px;
    margin-top: 45px;
}

.buttons {
    width: 100%;
    border: 1px solid red ;
    display: flex;
    margin-top: 45px;
}

.contact_button {
    border-radius: 16px;
    background: #eeefa7;
    transition: ease 0.3s all;
    width: 260px;
    height: 65px;
    border: thin;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact_button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container_text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.columnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    margin-top: 45px;
}

.columnlist{
    display: flex;
}


.leftColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas {
    display: flex;
    flex-direction: column;
}


h4 {
    margin: 0;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.justify_center {
    justify-content: center;
}

.gap {
    gap: 88px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}





