.container_text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.justify_center {
    justify-content: center;
}

.gap {
    gap: 88px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.map_image {
    width: 80%;
    height: 80%;
    flex-shrink: 2;
    border-radius: 29px;
    background: #CFE2FF;
    margin: 10px;
    margin-left: 20px;
}

.columnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    justify-content: center;
}

.input_area {
    display: flex;
    width: 380px;
    height: 227px;
    border-radius: 19px;
    background: #FFF;
    margin: 20px;
    padding: 10px;
}

.contact_button {
    border-radius: 16px;
    background: #eeefa7;
    transition: ease 0.3s all;
    width: 200px;
    height: 47px;
    border: thin;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
}

.contact_button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.carousel_container {
    width: 1082px;
    height: 500px;
    margin: auto;
}

.leftColumn {
    width: 100%;
    max-width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.rightColumn {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.details_container {
    margin: auto;
    width: 1140px;
}

h4 {
    margin: 0;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.caracteristicas {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2, h3 {
    line-height: 1.1;
}

h2 {
    margin-top: 50px;
}