.root {
    width: 100%;
    font-family: Poppins;
    box-sizing: border-box;
}

.userProfile {
    width: 1140px;
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    line-height: 0;
    margin-top: 3rem;
}

h2 {
    font-size: 1rem;
    line-height: 0;
    margin-bottom: 3rem;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabnav {
    display: flex;
    border-radius: 3.25rem;
}

.navitem {
    background-color: #CFE2FF;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 1.25rem 1.25rem 0 0;
    margin-bottom: 0;
    font-weight: bold;
}

li.navitemselected {
    background-color: #e9e9e9;
    border-bottom: 0;
    border-radius: 1.25rem 1.25rem 0 0;
    margin-bottom: 0;
    font-weight: bold;
}

.navlink {
    display: block;
    padding: 0.5rem 1rem;
    color: #000000;
}

a {
    text-decoration: none;
}

.navlinkactive {
    display: block;
    color: #000000;
    padding: 0.5rem 1rem;
}

.tabcontent {
    background-color: #e9e9e9;
    border-top: 0;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}