<!DOCTYPE html>
<html>
    <head>
        <title>¡Bienvenido a Realista!</title>
    </head>
    <body>
    <p>¡Hola {{user.name}}!</p><br>
    <p>¡Bienvenido a Realista! Estamos emocionados de tenerte con nosotros.Encuentra tu hogar ideal entre nuestra amplia
        selección de propiedades y no dudes en contactarnos si necesitas ayuda.
    </p><br>
    <p>¡Estamos aquí para hacer tus sueños más...Realista!</p><br>
    <p>El equipo de Realista</p>
    </body>
</html>