.container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CFE2FF;
}

.container label {
    display: block;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
}

.container input,
.container select {
    display: flex;
    margin-bottom: 20px;
    width: 200px;
    font-family: inherit;
    font-size: inherit;
}

.container .successMessage {
    color: rgb(142, 170, 206);
    font-weight: bold;
    margin-top: 10px;
}

.container .link {
    display: inline-block;
    margin-right: 10px;
}

.container input[type="submit"] {
    background-color: #EEEFA7;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.container input[type="submit"]:hover {
    background-color: #CFE2FF;
    border: 2px solid #ffffff;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .container input,
    .container select {
        width: 100%;
    }
}
