@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #cfe2ff;
    border-radius: 4%;
    height: 500px;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    width: fit-content;
    font-size: small;
    border-radius: 20px;
    overflow: hidden;
}

.img{
    height: 500px;
}

.image_container {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    
    flex-direction: row-reverse;
}
.form_container {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.input_text {
    border-radius: 8px;
    background: #fff;
    width: 300px;
    height: 30px;
    border: thin;
    font-family: "Poppins", sans-serif;
    padding: 2px 12px;
}

.input {
    height: 78px;
    margin-bottom: 4px;
}

.form_button {
    border-radius: 16px;
    background: #eeefa7;
    transition: ease 0.3s all;
    align-items: center;
    width: 200px;
    height: 47px;
    border: thin;
    margin-left: 50px;
    font-family: "Poppins", sans-serif;
    margin-top: 12px;
}

.form_button:hover {
    transform: scale(1.1);
}
