@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

.container {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #cfe2ff;
    justify-content: center;
    height: 500px;
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.text_login{
position: absolute;
top: 21px;
right: 312px;
font-size: 40px;
font-weight: bold;
color: #ffffff;
}

.img {
    height: 500px;
}

.image_container{
    position: relative;
}

.image_container, .form_container{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.form_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.image_container {
    flex-direction: row-reverse;
}

.input_text {
    border-radius: 8px;
    background: #fff;
    width: 100%;
    height: 30px;
    border: thin;
    font-family: "Poppins", sans-serif;
    padding: 2px 12px;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 35px;
}

.input label,.input input{
    display: block;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 19px;
    width: 300px;
    height: 30px;
    

}

.form_button {
    border-radius: 16px;
    background: #eeefa7;
    transition: ease 0.3s all;
    align-items: center;
    width: 200px;
    height: 47px;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    cursor: pointer;
}

.form_button:hover {
    transform: scale(1.1);
}
