
.buttonblue {
    background-color: #CFE2FF;
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 1px;
    padding-top: 15px; 
    height: 30px;
    width: 130px;
}

.buttongray {
    background-color: #D9D9D9;
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 1px;
    padding-top: 15px; 
    height: 30px;
    width: 130px;
}

.errormessage {
    background-color: #CFE2FF;
    font-family: Poppins;
    font-size: 22px;
    margin: auto;
    width: 1140px;
    margin: 20px auto;
}