.root {
    width: 1140px;
    margin: auto;    
}

.list {
    width: 1140px;
    margin: auto;
}

.card {
    border: 2px solid #CFE2FF;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 942px;
}

.image {
    height: 170px;
    width: 240px;
    padding: 10px;
}

.link {
    text-decoration: none;
}

.buttonblue {
    background-color: #CFE2FF;
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 1px;
    padding-top: 15px; 
    height: 30px;
    width: 130px;
}

.buttongray {
    background-color: #D9D9D9;
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 1px;
    padding-top: 15px; 
    height: 30px;
    width: 130px;
}

.location {
    border: 2px solid #CFE2FF;
    border-radius: 8px;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    height: 30px;
    width: 115px;
}

.search {
    background-color: #CFE2FF;
    border: 2px solid #CFE2FF;
    border-radius: 8px;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    margin-top: 10px;
    height: 35px;
    width: 120px;
}

.errormessage {
    background-color: #CFE2FF;
    font-family: Poppins;
    font-size: 22px;
    margin: auto;
    width: 1140px;
    margin: 20px auto;
}

.heart_button {
    background-color: transparent;
    width: 120px;
    height: 120px;
}

.heart_button:hover {
    background-color: rgba(128, 128, 128, 0.251);
}