.list {
    width: 1140px;
    margin: auto;
}

.card {
    border: 3px solid #CFE2FF;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image {
    height: 150px;
    width: 240px;
    padding: 10px;
}

.link {
    text-decoration: none;
}

.buttonblue {
    background-color: #CFE2FF;
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 1px;
    padding-top: 10px; 
    height: 35px;
    width: 130px;
}

.buttongray {
    background-color: #D9D9D9;
    border: 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px; 
    margin: 1px;
    height: 35px;
    width: 130px;
}