.container {
    display: flex;
    flex-direction: column;
}

.input {
    width:15rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.label {
    text-align: left;
    margin-right: 10px;
    font-weight: 500;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 16px;
    border: thin solid #8d8d8d;
    border-radius: 5px;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #EEEFA7;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%; 
    opacity: 0.9;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-family: inherit;
}

.data   {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 10px;
}

textarea {
    width: 30rem;
    height: 5rem;
    border-radius: 5px;
    border: thin solid #8d8d8d;
    padding: 10px;
    font-family: Poppins;
    font-size: 16px;
}