@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #cfe2ff;
  border-radius: 4%;
  height: 500px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  width: fit-content;
  font-size: small;
  border-radius: 20px;
  overflow: hidden;
}

.text_login{
  position: absolute;
  top: 21px;
  right: 312px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  }

.image_container {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  position: relative;
}

.form_container {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.input_text {
  border-radius: 8px;
  background: #fff;
  width: 300px;
  height: 30px;
  border: thin;
  font-family: "Poppins", sans-serif;
  padding: 2px 12px;
}

.input {
  height: 78px;
  margin-bottom: 4px;
}

.form_button {
  border-radius: 16px;
  background: #eeefa7;
  transition: ease 0.3s all;
  align-items: center;
  width: 200px;
  height: 47px;
  border: thin;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
  margin-top: 12px;
}

.form_button:hover {
  transform: scale(1.1);
}

.check_container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 8px;
}

.check {
  flex: 0 0 auto;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 0.25rem;
  appearance: none;
  cursor: pointer;
}

.check:checked {
  background-color: #eeefa7;
}

.check::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 9px;
  width: 4px;
  height: 20px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

.check:checked::before {
  border-color: #fff;
  animation: checkAnim 0.3s ease;
}

@keyframes checkAnim {
  from {
    transform: rotate(45deg) scale(0);
  }
}

.error_message {
  color: red;
  font-size: smaller;
}
